@model IDEA_Collection.Models.Idea

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Edit Idea</h5>
                </div>
                <form class="form theme-form" asp-controller="Idea" asp-action="Edit" asp-route-id="@Model.PostId" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PostId" />
                    <input type="hidden" asp-for="AccountId" />
                    <input type="hidden" asp-for="Thumb" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label" for="Title">Title</label>
                                    <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label" for="exampleFormControlSelect9">Select category</label>
                                    <select class="form-select digits" asp-for="CatId" id="exampleFormControlSelect9" asp-items="ViewBag.DanhMuc">
                                        <option value="" disabled selected>Select Category</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <label class="form-label" for="exampleFormControlTextarea4">Contents</label>
                                    <textarea class="form-control" asp-for="Contents" id="exampleFormControlTextarea4" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label" for="exampleFormControlTextarea4">Upload file</label>
                                    <input name="fThumb" asp-for="Thumb" class="form-control" type="file">
                                    <span asp-validation-for="Thumb" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label m-r-10">Anonymously</label>
                                    <div>
                                        <label for="Anonymously" class="switch">
                                            <input asp-for="Anonymously" type="checkbox"><span class="switch-state"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-end">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <input class="btn btn-light" type="reset" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

